streamlit
streamlit_aggrid
streamlit_antd_components
xinference-client
ollama
langgraph
langchain
langchain-openai
langchain-milvus
langchain-chroma
langchain_community
langdetect
sqlalchemy
rapidocr-onnxruntime
pydantic-settings
python-dotenv
python-docx
python-pptx
markdown
pymupdf
