streamlit
streamlit_aggrid
streamlit_antd_components
xinference-client
ollama
langchain
langchain-openai
langchain-milvus
langchain-chroma
langchain_community
sqlalchemy
rapidocr-onnxruntime
python-docx
python-pptx
pymupdf
