streamlit
streamlit_aggrid
streamlit_antd_components
xinference-client
ollama
deepagents
langgraph
langchain
langchain-openai
langchain-milvus
langchain-chroma
langchain-community
langchain-mcp-adapters
deepagents
sqlalchemy
rapidocr-onnxruntime
pydantic-settings
python-dotenv
python-docx
python-pptx
langdetect
markdown
pymupdf
